*{
    margin: 0px;
}
nav {
    height: 60px;
    width: auto;
    background: lightgreen;
}
ul {
    
    padding-left: 0;
    height: 60px;
}
.navListItem {
    border: solid 1px;
    color: rgb(33, 13, 207);
    display: inline-block;
    padding: 22px 5px 8px 5px;
    font-size: 23px;
}

    
#main {
    background: rgb(243, 252, 211);
   
    height: 1000px;
}
#doWord {
    color:rgb(199, 20, 184)
}
#input {
    height: 100px;
    display: block;
}
#submit {
    margin-left: 50px;
}
